.coverage
.DS_Store
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.egg-info/
build/
dist/
htmlcov/
target/
src/qplanck/_qplanck_native*.so
src/qplanck/_qplanck_native*.pyd
trace.json
